In [12]:
import os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [13]:
path = './/'
file_list = os.listdir(path)
file_list_py = [file for file in file_list if file.endswith('.csv')]
file_list_py

['기간별_일평균_대기환경_정보_2018년.csv',
 '기간별_일평균_대기환경_정보_2019년.csv',
 '기간별_일평균_대기환경_정보_2020년.csv',
 '기간별_일평균_대기환경_정보_2021년.csv']

In [15]:
df = pd.DataFrame()

for i in file_list_py:
    data = pd.read_csv(i, encoding='euc-kr')
    data.columns = ['측정일시', '권역명', '측정소명', '이산화질소', '오존',
                    '일산화가스','아황산가스', '미세먼지', '초미세먼지'
                   ]
    df = pd.concat([df,data])

In [16]:
df = df.loc[:,['측정일시','측정소명', '오존', '미세먼지']]
df

          측정일시 측정소명     오존  미세먼지
0     20180101  강남구  0.009  34.0
1     20180101  강동구  0.010  49.0
2     20180101  강북구  0.018  38.0
3     20180101  강서구  0.011   NaN
4     20180101  관악구  0.008  38.0
...        ...  ...    ...   ...
9120  20211231  용산구  0.028  25.0
9121  20211231  은평구  0.027  26.0
9122  20211231  종로구  0.032  23.0
9123  20211231   중구  0.033  20.0
9124  20211231  중랑구  0.028  22.0

[36525 rows x 4 columns]

In [19]:
list = ['광진구']
df_k = df[df['측정소명'].isin(list)]
df_k = df_k.drop(['측정소명'], axis=1)
df_k = df_k.reset_index(drop=True)
df_k.columns = ['측정일시','광진구오존', '광진구미세먼지']
df_k

          측정일시  광진구오존  광진구미세먼지
0     20180101  0.012     42.0
1     20180102  0.011     43.0
2     20180103  0.017     34.0
3     20180104  0.014     44.0
4     20180105  0.008     64.0
...        ...    ...      ...
1456  20211227  0.011     23.0
1457  20211228  0.003     42.0
1458  20211229  0.008     54.0
1459  20211230  0.022     26.0
1460  20211231  0.026     21.0

[1461 rows x 3 columns]

In [22]:
list = ['동대문구']
df_d = df[df['측정소명'].isin(list)]
df_d = df_d.drop(['측정소명'], axis=1)
df_d = df_d.reset_index(drop=True)
df_d.columns = ['측정일시','동대문구오존', '동대문구미세먼지']
df_d

          측정일시  동대문구오존  동대문구미세먼지
0     20180101   0.013      46.0
1     20180102   0.012      43.0
2     20180103   0.017      37.0
3     20180104   0.010      48.0
4     20180105   0.009      65.0
...        ...     ...       ...
1456  20211227   0.008      30.0
1457  20211228   0.003      51.0
1458  20211229   0.010      65.0
1459  20211230   0.027      26.0
1460  20211231   0.031      21.0

[1461 rows x 3 columns]

In [23]:
list = ['성동구']
df_s = df[df['측정소명'].isin(list)]
df_s = df_s.drop(['측정소명'], axis=1)
df_s = df_s.reset_index(drop=True)
df_s.columns = ['측정일시','성동구오존', '성동구미세먼지']
df_s

          측정일시  성동구오존  성동구미세먼지
0     20180101  0.009     48.0
1     20180102  0.009     42.0
2     20180103  0.014     37.0
3     20180104  0.008     46.0
4     20180105  0.006     59.0
...        ...    ...      ...
1456  20211227  0.007     31.0
1457  20211228  0.002     52.0
1458  20211229  0.009     64.0
1459  20211230  0.025     31.0
1460  20211231  0.031     21.0

[1461 rows x 3 columns]

In [24]:
list = ['중랑구']
df_j = df[df['측정소명'].isin(list)]
df_j = df_j.drop(['측정소명'], axis=1)
df_j = df_j.reset_index(drop=True)
df_j.columns = ['측정일시','중랑구오존', '중랑구미세먼지']
df_j

          측정일시  중랑구오존  중랑구미세먼지
0     20180101  0.010     48.0
1     20180102  0.009     45.0
2     20180103  0.015     39.0
3     20180104  0.011     52.0
4     20180105  0.006     67.0
...        ...    ...      ...
1456  20211227  0.010     30.0
1457  20211228  0.004     46.0
1458  20211229  0.003     57.0
1459  20211230  0.025     28.0
1460  20211231  0.028     22.0

[1461 rows x 3 columns]

In [25]:
df = pd.merge(df_k, df_d, how='outer',on='측정일시')
df = pd.merge(df, df_s, how='outer',on='측정일시')
df = pd.merge(df, df_j, how='outer',on='측정일시')
df

,측정일시,광진구오존,광진구미세먼지,동대문구오존,동대문구미세먼지,성동구오존,성동구미세먼지,중랑구오존,중랑구미세먼지
0,20180101,0.012,42.0,0.013,46.0,0.009,48.0,0.010,48.0
1,20180102,0.011,43.0,0.012,43.0,0.009,42.0,0.009,45.0
2,20180103,0.017,34.0,0.017,37.0,0.014,37.0,0.015,39.0
3,20180104,0.014,44.0,0.010,48.0,0.008,46.0,0.011,52.0
4,20180105,0.008,64.0,0.009,65.0,0.006,59.0,0.006,67.0
...,...,...,...,...,...,...,...,...,...
1456,20211227,0.011,23.0,0.008,30.0,0.007,31.0,0.010,30.0
1457,20211228,0.003,42.0,0.003,51.0,0.002,52.0,0.004,46.0
1458,20211229,0.008,54.0,0.010,65.0,0.009,64.0,0.003,57.0
1459,20211230,0.022,26.0,0.027,26.0,0.025,31.0,0.025,28.0
1460,20211231,0.026,21.0,0.031,21.0,0.031,21.0,0.028,22.0

In [26]:
df.to_csv('./air.csv')